* {
    margin: 0;
}

body {
    display: flex;
    flex: 1;
    height: 100vw;
    flex-direction: column;
    justify-content: space-between;
    gap: 1px;
    font-weight: bold;
    font-size: 32px;
}

header {
    background-color: rgb(43, 123, 126);
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: orange;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 90vw;
    
}

.nav {display: flex;
    justify-content: center;
    align-items: center;
    border: solid white 2px;
    flex-basis: 25%;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    border: solid white 2px;
}
.ads {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 25%;
    border: solid white 2px;
}
    
footer {
    background-color: khaki;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}