* {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: "sarabun", sans-serif;
  color: white;
  text-shadow: rgb(151, 23, 237) 1px 0 10px;
}

.header {
  background-color: teal;
  display: flex;
  height: 10vh;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.main-div {
  display: flex;
  justify-content: space-between;
  margin: 1px;
}

.div {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 80vh;
  margin: 1px;
}

footer {
  background-color: khaki;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav,
.adv {
  background-color: orange;
  flex: 1;
}

.content {
  background-color: orange;
  flex: 2;
}
